{% extends 'components/base.html' %} 

{% block title %}Home{% endblock %} 

{% block content %} 
{% from 'bootstrap5/form.html' import render_form %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      {{ render_form(form, action=url_for('add'),method="POST",novalidate="True")}}
    </div>
  </div>
</div>
<!--
<form action="url_for('add')" method="POST">
  <label>Book Name</label>
  <input type="text" />
  <label>Book Author</label>
  <input type="text" />
  <label>Rating</label>
  <input type="text" />
  <button type="submit">Add Book</button>
</form>
--> 
{% endblock content %}
